.navbar-bg{
    background-color: #fafbfc;
    border-radius: 5px;
}
.carousel-bg{
    background-color: #fceae8;
    border-radius: 5px;
}
.h1-color{
  color: #ff136f; 
}
.button-color{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fceae8;
    padding: 9px 26px;
    border:#FF136F ;
    border-radius: 5px;
    
}
.categories-css{
    border-radius: 10px;
    padding: 5px;
    
}
.categories-two{
    background-color: #b951b5;
}
.categories-three {
    background-color: #0000ff;
}
.Subcriber-bg{
    background-color:#fceae8 ;
    border-radius: 5px;
}